.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/jsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
dist/prerender.js
dist/*.prerender.js
dist/*.prerender.js.*
designHtml/**
boilerplate_README.md
extension.js